<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
.navbar {
  letter-spacing: 0.2rem;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.heading p {
  color: #dbc8b0;
}
#home {
  background: #dbc8b0;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-family: monospace;
}
.heading p {
  font-family: "Montserrat", sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}
#about .row {
  max-width: 720px;
}
#projects .card:hover {
  transition: 0.2s linear;
  transform: scale(1.05);
=======
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
.navbar {
  letter-spacing: 0.2rem;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.heading p {
  color: #dbc8b0;
}
#home {
  background: #dbc8b0;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-family: monospace;
}
.heading p {
  font-family: "Montserrat", sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}
#about .row {
  max-width: 720px;
}
#projects .card:hover {
  transition: 0.2s linear;
  transform: scale(1.05);
>>>>>>> d09e8b842ada32048f24478357fef138707e0c0d
}